@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  text-align: center;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
}

.navigation-logo {
  margin: 0;
  margin-left: 70px;
  margin-bottom: -5px;
}

.navigation-list {
  margin: 0;
  margin-left: 45px;
  padding: 0;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navigation-user {
  max-width: 400px;
  margin-left: auto;
  margin-right: 60px;
}

.navigaton-user,
.navigation-link {
  min-width: 18px;
  min-height: 22px;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  padding: 20px 2px;
  margin-right: 30px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  display: block;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/favorite.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 28px;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 21px;
}

.welcome {
  background-image: url("../images/index-background.jpg");
  background-color: #82b3d3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: -5px;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 81px;
  ma rgin-bottom: 63px;
}

.vector-bottom {
  background-image: url("../images/image-bottom.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: -57px;
  width: 1200px;
  height: 58px;
  margin-bottom: 58px;
}

.divider {
  display: block;
  margin: auto;
}

.title-one {
  font-size: 30px;
  line-height: 36px;
  width: 620px;
  margin: 0 auto 31px;
  text-transform: uppercase;
  font-weight: 700;
}

.description {
  font-size: 22px;
  line-height: 26px;
  max-width: 654px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.title {
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 26px;
  font-weight: 700;
}

.description-one {
  margin-bottom: 90px;
  width: 654px;
}

.advantages {
  margin: 0;
  margin-bottom: 91px;
  padding: 0;
}

.advantages-list {
  list-style: none;
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.town {
  display: flex;
  flex-direction: column;
  width: 230px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 92px 85px 92px 85px;
}

.advantages-item {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-alternative {
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
}

.number {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: 0;
  padding: 0;
}

.advantages-img {
  max-width: 800px;
  height: auto;
}

.advantages-item-alternative {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-title-alternative {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
}

.advantages-other-background {
  background-color: #ffffff;
}

.advantage-one {
  list-style: none;
  background-color: #ffffff;
  display: flex;
  margin: 0;
  padding: 0;
}

.advantage-one-item {
  padding: 183px 85px 81px 85px;
  width: 230px;
  background-position: top 81px center;
}

.home {
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-color: #f0f6fa;
  color: rgba(0, 0, 0, 1);
}

.goods {
  background-color: #f0f6fa;
  color: rgba(0, 0, 0, 1);
  background-image: url("../images/goods.svg");
  background-repeat: no-repeat;
}

.food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 1);
}

.town-simply {
  margin: 103px 85px 102px 85px;
  width: 230px;
}

.advantage-another-color {
  background-color: rgba(131, 179, 211, 0.2);
}

.search-hotel-form {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #83b3d3;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.title-subscription {
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 94px;
  margin-bottom: 29px;
  font-weight: 700;
}

.description-subscription {
  width: 475px;
  padding: 0;
  margin: auto;
  margin-bottom: 46px;
}

.subscription {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 797px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 94px;
}

.subscription-form {
  border-radius: 10px 0 0 10px;
  background: #f2f2f2;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-left: 22px;
}

.search-hotel-form-catalog {
  background-image: none;
  background-color: #ffffff;
}

.description-catalog {
  color: rgba(51, 51, 51, 1);
}

.search-hotel-form-catalog input {
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.button {
  display:inline-block;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding: 9px 15px 8px 15px;
  cursor: pointer;
  font-family: inherit;
}

.footer-bottom {
  display: flex;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 35px;
  width: 1060px;
  justify-content: space-between;
}

.footer-social {
  max-width: 200px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.footer-social-item {
  position: relative;
  margin: 0;
  width: 47px;
  height: 40px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: #83B3D3;
}

.button-footer:hover .social-icon,
.button-footer:focus .social-icon {
  color:#68A2CA;
}

.button-footer:active .social-icon {
  color:rgba(104, 162, 202, 0.3);
}

.phone {
  text-decoration: none;
  text-transform: uppercase;
  width: 332px;
  font-size: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.phone:hover,
.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-htmlacademy {
  display:inline-block;
  margin-top: 2px;
}

.htmlacademy-icon {
  color: #000000;
}

.htmlacademy-icon:hover,
.htmlacademy-icon:focus {
  color: #756157;
}

.htmlacademy-icon:active {
  color: rgba(117, 97, 87, 0.3);
}

.item {
  width: 13px;
  height: 13px;
}

.inner-header .menu .menu-item:nth-child(2) {
  background-image: url("../images/arrow-1.svg");
  background-position: center;
  background-size: 6px 8px;
  background-repeat: no-repeat;
  width: 28px;
  height: 30px;
}

.main-inner {
  margin: 0;
  padding: 0;
}

.filter {
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #83b3d3;
  color: #ffffff;
  padding: 35px 70px 70px 70px;
  text-align: start;
  margin-top: -5px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  margin-right: 25px;
  margin-bottom: 40px;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.hotels-filter-group {
  margin: 0;
  padding: 0;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  font-weight: 700;
}

.hotels-filter-list {
  font-size: 18px;
  line-height: 21px;
  width: 149px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.hotels-filter {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  gap: 70px;
}

.price-filter {
  margin-left: 105px;
}

.buttons-filter {
  align-self: end;
}

.sorting-search {
  display: grid;
  margin: 55px auto;
  grid-template-columns: 1fr 368px 160px;
  width: 1057px;
  justify-items: start;
}

.hotels-filter-item {
  margin: 0;
}

.search-buttons {
  display: flex;
  padding: auto;
}

.search-buttons .button {
  margin-right: 8px;
  display: block;
  width: 14px;
  height: 28px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.search-buttons .button:hover,
.search-buttons .button:active {
  border: 2px solid #000000;
}

.search-buttons .button:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}

.card {
  background: url("../images/icon-table.svg") no-repeat center;
}

.one {
  background: url("../images/icon-slideshow.svg") no-repeat center;
}

.list {
  background: url("../images/icon-list.svg") no-repeat center;
}

.sorting-search .button:last-child {
  margin-right: 0;
}

.number-hotels {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  margin-top: 8px;
  padding: 0;
  font-weight: 700;
}

.select-control {
  margin-left: auto;
  margin-right: 78px;
  width: 290px;
  font-size: 18px;
  font-weight: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.hotels-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap:
  list-style: none;
  margin: 56px 73px 66px 71px;
  padding: 0;
}

.hotels-card {
  margin: 0;
  padding: 20px;
  display: grid;
  grid-template-rows: 211px repeat(4, auto);
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
  text-align: left;

}
.hotels-class-link {
  grid-column: 1/-1;
}
.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  margin: 0;
  grid-column: 1/-1;
  font-weight: 700;
}

.type-hotels,
.price {
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  font-weight: 400px;
}

.image-hotel {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 6px;
}

.image-hotel .vis {
  background: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 9px;
  width: 18px;
  height: 17px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  font-weight: 400px;
  background: #f2f2f2;
  grid-column: 2/3;
}

.about {
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-align: center;
}

.favourite {
  background-color: rgba(130, 179, 211, 1);
  grid-column: 2/3;
}

.favourite-checked {
  background-color: rgba(125, 181, 79, 1);
}

.rating {
  text-transform: uppercase;
  text-align: center;
  padding-top: 9px;
}

.main-bottom {
  display: flex;
  margin: 30px 71px 25px 73px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: inline-block;
  background-color: rgba(130, 179, 211, 1);
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  min-width: 60px;
  height: 36px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  border-radius: 4px;
}
.current {
  background: #F2F2F2;
  font-weight: 700;
  color: #000000;
}

.hotels-list {
  font-size: 18px;
  line-height: 21px;
  margin-right: 51px;
  margin-left: auto;
}

.subscription-button {
  background-color: rgba(130, 179, 211, 1);
  font-weight: 700px;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
  border: none;
  width: 200px;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68A2CA;
  outline:none;
}

.button-blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #615048;
  outline:none;
}

.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-green:hover,
.button-green:focus {
  background-color: #6C9E42;
  outline:none;
}

.button-green:active {
  background-color: #&DB54F;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.search-button {
  background-color: rgba(117, 97, 87, 1);
  margin-bottom: 93px;
  width: 574px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
}

.button-want {
  background-color: rgba(117, 97, 87, 1);
  width: 130px;
  margin-top: 14px;
  margin-right: 10px;

}



.apply {
  background-color: rgba(130, 179, 211, 1);
  margin-bottom: 20px;
}

.select-control-numbers {
  font-size: 18px;
  line-height: 21px;
  width: 160px;
  margin: 0;
  padd ing: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
